CVS
tags
.ropeproject*
/external/*
/build/

*.msi
*.idt

*.exe
*.tgz
*.Z
*.in
*.l[a,o]
*.sw[p,o]
*~
*.deps
*.libs
*.diff
*.log
*.out
*.exp
*.crt
*.pem
*.key
*.req
*.bak
*.a
*.so
vars.cache.sh
/beectl
/beectl.spec
/beectl*\.sh
/beectl*\.zip
/beectl*\.tgz
/beectl*\.tar.gz
/beectl*\.7z
/beectl*\.tar
json-patch
tmp-manifest.json

/CMakeCache.txt
/CMakeFiles/*
/Makefile
CPackConfig.cmake
/CPackSourceConfig.cmake
_CPack_Packages/
*.rpm
*.deb
*.gz
*.Z
cmake_install.cmake
install_manifest.txt


*.nsh
!*.in
