CVS
tags
.ropeproject*
external/*

*.exe
*.tgz
*.Z
*.in
*.l[a,o]
*.sw[p,o]
*~
*.deps
*.libs
*.diff
*.log
*.out
*.exp
*.crt
*.pem
*.key
*.req
*.bak
*.a
*.so
vars.cache.sh
beectl
beectl.spec
json-patch
tmp-manifest.json

CMakeCache.txt
CMakeFiles/*
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*.rpm
*.gz
cmake_install.cmake
install_manifest.txt


!*.in
